body{
    background-color: #fff;
}

header{
    background-color: #ff8a84;
    height: 100px;
    margin-bottom: 45px;
}

main{
    border: 2px solid black;
    width: 1008px;
    margin: 0 auto;
    text-align: center;
}

main section{
    border: 2px solid black;
    margin: 0 auto;
    float: left;
}

#login{
    width: 400px;
    height: 200px;
}

#novoCadastro{
    width: 600px;
    height: 200px;
}