*{
    margin: 0;
    padding: 0px;
}

main{
    overflow: auto;
}

#rodape{
    margin-top: 45px;
    background-color: #ff8a84;
    overflow: auto;
    color: #fff;
}

#rodape section{
    margin: 10px;
    padding: 5px;
    width: 303px;
    height: 100px;
    float: left;
}

#rodape ul{
    margin-left: 30px;
}

#rodape section ul a{
    text-decoration: none; 
    color: #fff;
}

#rodape p{
    text-align: center;
    clear: both;
}

#diretosReservados{
    margin: 0;
    display: block;
    font-size: 15px;
    margin-top: 20px;
}

#rodape section h3{
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 20px;
}

#faleConosco p i{
    margin: 0px 20px 7px 20px;
}

#faleConosco p{
    text-align: left;
}

#redeSocial i{
    font-size: 45px;
    margin: 5px 15px;
    color: #fff;
}

#redeSocial div{
    padding-left: 7px;
}

#menu{
    background-color: #ff8a84;
    color: #fff;
}

#icone{
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 10px;
}

#iconePesquisar{
    color: white;
    border: 1px solid white;
    font-size: 12px;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
}

#iconeMenu{
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#icone:hover{
    border: 1px solid white;
}

#submenu{
    background-color: #ff8a84;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
#submenu:hover{
    background-color: lightcoral;
}

#icones{
    position: fixed;
    display: flex;
    margin: auto;
    flex: 1;
    justify-content: end;
    top:0;
    left:0;
}


#logo-main {
    display: block;
    margin: 20px auto;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

li:hover{
    background-color: lightcoral;
}



  

